.active-col-names {
  list-style-type: none;
}

.available-col-names {
  list-style-type: none;
}

.active-li {
  border-bottom: 1px solid #060b26;
}
.acc {
  width: 300px;
  height: 500px;
  overflow: auto;
  box-shadow: none !important;
  outline: none !important;
}

.acc:focus {
  box-shadow: none !important;
  outline: none !important;
}

.acc-item {
  box-shadow: none !important;
  outline: none !important;
}

.acc-item:focus {
  box-shadow: none !important;
  outline: none !important;
}

.acc-header {
  box-shadow: none !important;
  outline: none !important;
}

.acc-header:focus {
  box-shadow: none !important;
  outline: none !important;
}
