.navbar {
  background: linear-gradient(to right, var(--primBlue) 50%, var(--secBlue));
  height: 80px;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 2rem;
  background: none;
  z-index: 11;
}

.link {
  text-decoration: underline;
  color: var(--primBlue);
  font-size: 13px;
  font-weight: bold;
}

.nav-menu {
  background-color: var(--primBlue);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 10;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: var(--terBlue);
  color: #333;
  transition: all ease-in-out 0.5ms;
}

.nav-menu-items {
  margin-top: 100px;
  width: 100%;
}
span {
  margin-left: 16px;
}

.logo {
  background: linear-gradient(
    to right,
    white 0% 2.18em,
    #e31b23 0% 2.8em,
    #e31b23 1.9em 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.logout-btn {
  text-align: center;
  width: 120px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.logout-btn:hover {
  background-color: #ccc;
  transition: all ease-in-out 0.3s;
}
