* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heading{
  font-size: 32px;
  font-weight: 600;
}

.sub-heading{
  font-size: 25px;
  font-weight: 600;
}

.text{
  font-size: 20px;
}


/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}
.login{
  border: #333 1px solid;
  border-radius: 3px;
  padding: 50px;
}
.login-btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 3px;
}

.login-btn:hover{
  background: #333;
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}

@media screen and (max-width: 990px) {

  .text{
    margin-bottom: 5px;
    font-size: 18px;
  }

  .search{
    margin-top: 40px;
  }

}
@media screen and (max-width: 800px) {

  .heading{
    font-size: 20px;
    font-weight: 600;
  }
  .text{
    font-size: 15px;
  }
}

/* mobile */
@media screen and (max-width: 580px) {

  .heading{
    font-size: 15px;
    font-weight: 600;
  }
  .text{
    font-size: 12px;
  }
}
