* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  font-size: 32px;
  font-weight: 600;
}

.sub-heading {
  font-size: 25px;
  font-weight: 600;
}

.text {
  font-size: 20px;
}

.logo {
  position: absolute;
  left: 100px;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}

/***    Login Page     ***/
.login-app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

.login-button:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

/* primary button */
.main-btn {
  background-color: #060b26 !important;
  color: white !important;
  border: solid 1px white;
  width: auto;
  height: auto;
  padding: 10px;
  outline: none;
  box-shadow: none;
}

.main-btn:focus {
  outline: none;
  box-shadow: none;
}

.disable-btn {
  background-color: #a6b2f1 !important;
  color: white !important;
  border: solid 1px white;
  width: auto;
  height: auto;
  padding: 10px;
  outline: none;
  box-shadow: none;
}

/* charts */

.charts {
  width: 700px;
  border: solid 1px #ccc;
  border-top: solid 40px #ccc;
  border-radius: 10px;
}

.chart-container {
  width: 80%;
  margin: 20px;
  gap: 100px;
}

.pie-chart {
  max-width: 350px;
  max-height: 350px;
}

/* Select */
.select-btn {
  max-width: 150px !important;
  padding: 8px 12px !important;
  color: #000 !important;
  background-color: #eee !important;
  border: 1px solid #ddd !important;
  cursor: pointer;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.top-home {
  z-index: 100;
}

/* DataBox Button */
.data-box-btn {
  width: fit-content;
  border: solid 1px;
  border-left: solid 20px;
  padding: 15px;
  margin-right: 20px;
  background-color: #fff;
}

/* Table */

.react-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.react-table td,
.react-table th {
  padding: 8px;
}

.react-table tr {
  border: 1px solid #a6b2f1;
  border-bottom: #a6b2f1;
}

.react-table tbody tr {
  text-align: center;
}

.react-table tbody tr:hover {
  background-color: #a6b2f1;
}

.react-table thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #060b26;
  color: white;
}

.tooltip-arrow {
  display: none !important;
}

/* checkBox */
.checkbox {
  display: block;
  margin-bottom: 15px;
}

.checkbox input[type="checkbox"] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox label {
  position: relative;
  cursor: pointer;
}

.checkbox label:before {
  content: "";
  --webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #060b26;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #060b26;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 990px) {
  .text {
    margin-bottom: 5px;
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .heading {
    font-size: 20px;
    font-weight: 600;
  }
  .text {
    font-size: 15px;
  }
}

/* mobile */
@media screen and (max-width: 580px) {
  .heading {
    font-size: 15px;
    font-weight: 600;
  }
  .text {
    font-size: 12px;
  }
}
