* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heading{
  font-size: 32px;
  font-weight: 600;
}

.sub-heading{
  font-size: 25px;
  font-weight: 600;
}

.text{
  font-size: 20px;
}

.logo{
  position: absolute;
  left : 100px;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}

/***    Login Page     ***/
.login-app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}


input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-button{
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

.login-button:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

/* charts */

.charts{
  width: 700px;
  border: solid 1px #ccc;
  border-top: solid 40px #ccc;
}
.chart-container{
  width: 80%;
  margin: 20px;
  gap: 100px;
}

.chart-text{
  margin-top: -30px;
}

.pie-chart{
  max-width: 350px;
  max-height: 350px;
}

 .download-icon{
  color: #333;
  float: right;
 }

 .table-container{
  position: relative;
  border: solid 1px #ccc;
  padding: 25px;
  border-top: solid 40px #ccc;
  width: 700px;
  height: 440px;
 }

@media screen and (max-width: 990px) {

  .text{
    margin-bottom: 5px;
    font-size: 18px;
  }

  .search{
    margin-top: 40px;
  }

}
@media screen and (max-width: 800px) {

  .heading{
    font-size: 20px;
    font-weight: 600;
  }
  .text{
    font-size: 15px;
  }
}

/* mobile */
@media screen and (max-width: 580px) {

  .heading{
    font-size: 15px;
    font-weight: 600;
  }
  .text{
    font-size: 12px;
  }
}
